@import url("https://fonts.googleapis.com/css2?family=Marhey:wght@300..700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

::-webkit-scrollbar {
  width: 2px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--second-color);
}

:root {
  --main-color: #ffc851;
  --second-color: #222227;
}

body {
  font-family: "Marhey", sans-serif;
}

header {
  position: sticky;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--second-color);
  padding: 5px 20px;
}

header .logo img {
  width: 100px;
}

header nav {
  width: 35%;
}

header nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row-reverse;
}

header nav ul li a {
  font-size: 25px;
  color: var(--main-color);
  padding: 5px 10px;
}

header nav ul li a:hover,
.active {
  background-color: var(--main-color);
  color: var(--second-color);
  border-radius: 5px;
}

header .icons {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  width: 160px;
  border-radius: 5px;
  background-color: var(--main-color);
}

header .icons a i {
  cursor: pointer;
  color: var(--second-color);
  font-size: 30px;
}

header .icons a i:hover {
  transform: scale(1.2);
}

.search {
  display: flex;
  justify-content: center;
  padding: 10px;
  background-color: var(--second-color);
}

.search form {
  width: 25%;
}

.search form input[type="search"]{
  padding: 10px;
  width: 100%;
}
