@import url("https://fonts.googleapis.com/css2?family=Marhey:wght@300..700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

::-webkit-scrollbar {
  width: 2px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--second-color);
}

:root {
  --main-color: #ffc851;
  --second-color: #222227;
}

body {
  font-family: "Marhey", sans-serif;
}

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--second-color);
  padding: 10px 20px;
  position: fixed;
}

header .logo img {
  width: 100px;
}

header nav {
  width: 35%;
}

header nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row-reverse;
}

header nav ul li a {
  font-size: 25px;
  color: var(--main-color);
  padding: 5px 10px;
}

header nav ul li a:hover,
.active {
  background-color: var(--main-color);
  color: var(--second-color);
  border-radius: 5px;
}

header .icons a img {
  padding: 15px;
  cursor: pointer;
}

header .icons a img:hover {
  transform: scale(1.2);
}
