@import url("https://fonts.googleapis.com/css2?family=Marhey:wght@300..700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

::-webkit-scrollbar {
  width: 2px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--second-color);
}

:root {
  --main-color: #ffc851;
  --second-color: #222227;
}

body {
  font-family: "Marhey", sans-serif;
  height: 5000px;
}

.container {
  padding-left: 120px;
  padding-right: 120px;
}

header {
  position: sticky;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--second-color);
  padding-top: 10px;
}

header .logo img {
  width: 100px;
}

header nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav ul li a {
  font-size: 25px;
  color: var(--main-color);
  padding: 5px 10px;
}

header nav ul li a:hover,
.active {
  background-color: var(--main-color);
  color: var(--second-color);
  border-radius: 5px;
}
#mobileNav {
  display: none;
  direction: rtl;
  background-color: var(--main-color);
  text-align: center;
}

#mobileNav ul li {
  padding: 5px 0;
}

#mobileNav ul li a {
  font-size: 15px;
  color: var(--second-color);
}

.showMobileNav {
  display: block !important;
}

header #menu {
  display: none;
  font-size: 40px;
  background-color: var(--main-color);
  cursor: pointer;
  border-radius: 5px;
}

.icons {
  display: flex;
  flex-direction: column;
  position: fixed;
  right: 10px;
  top: 100px;
  justify-content: space-between;
  padding: 10px;
  /* width: 160px; */
  border-radius: 5px;
  background-color: var(--main-color);
}

.icons a i {
  cursor: pointer;
  color: var(--second-color);
  font-size: 30px;
}

.icons a i:hover {
  transform: scale(1.2);
}

.search {
  display: flex;
  justify-content: center;
  background-color: var(--second-color);
}

.search {
  width: 20%;
}

.search input[type="search"] {
  padding: 10px;
  width: 80%;
  border: none;
  border-radius: 5px 0 0 5px;
  background-color: var(--main-color);
  font-size: 20px;
}

.search button {
  padding: 5px;
  border: none;
  font-size: 20px;
  border-left: 1px black solid;
  border-radius: 0 5px 5px 0;
  background-color: var(--main-color);
}

@media (max-width: 600px) {
  header nav {
    display: none;
  }

  header .logo img {
    width: 80px;
  }
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
  .search {
    width: 50%;
  }
  header #menu {
    display: block;
  }
  .icons {
    display: none;
  }
}
